{
    "rules": {
        "indent": [2, 2],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-console": 1,
        "yoda": 2,
        "strict": [2, "global"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "brace-style": [2, "stroustrup"]
    },
    "env": {
        "browser": true
    }
}
